{
	"SshHosts": [{
			"Host": "192.168.31.51",
			"Port": 22,
			"Username": "admin",
			"Password": "admin",
			"cmds": "show clock;show clock"
		},
		{
			"Host": "192.168.80.131",
			"Port": 22,
			"Username": "root",
			"Password": "",
			"key": "./server.key",
			"linuxMode": true,
			"CmdFile": "cmd2.txt.example"
		}
	],
	"Global": {
		"Ciphers": "aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc",
		"KeyExchanges": "diffie-hellman-group1-sha1,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1"
	}

}